@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@100..700&display=swap');

.font-mpluscode {
  font-family: "M PLUS Code Latin", monospace;
  src: url("https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@100..700&display=swap");
}

#root-portal .react-datepicker-popper {
  padding: 32px 16px;
  border-radius: 24px;
  background: var(--neutral-000, #fff);
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
}

#root-portal .react-datepicker {
  border: none;
}

.react-datepicker-wrapper input[type="text"] {
  background-color: unset;
  outline: none;
  color: white;
}

.datePicker .react-datepicker__header {
  background: unset;
  border: none;
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker__current-month {
  padding-bottom: 32px;
}

.datePicker .react-datepicker__day-name {
  text-transform: uppercase;
  color: var(--yellow);
}

.react-datepicker__month-container {
  font-family: "M PLUS Code Latin", monospace;
}

.datePicker .react-datepicker__day--selected,
.datePicker .react-datepicker__day:hover {
  background-color: #ad9300;
  border-radius: 100px;
  color: var(--default-color);
}

.react-datepicker__day .react-datepicker__day {
  color: var(--yellow);
  text-align: center;
  font-family: "M PLUS Code Latin", monospace;
  font-size: 14px;
}

.datePicker .react-datepicker__day-name,
.datePicker .react-datepicker__day,
.datePicker .react-datepicker__time-name {
  margin: 11px 15px 11px 17px;
  @media only screen and (max-width: 600px) {
    margin: 0.166rem;
  }
}

